/*reset------*/
article,aside,details,figcaption,figure,legend,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.4em;color:#555;background-color:#fff}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:normal;font-size:100%;text-rendering:optimizelegibility}
ul,ol,dl{margin:0;padding:0;list-style:none}
table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;table-layout:fixed}
figure,form,p,dd{margin:0}
form{overflow:auto\9}
fieldset{margin:0;padding:0;border:0}
legend{width:100%;margin-bottom:10px;padding:0;line-height:30px;border:0;border-bottom:1px solid #e5e5e5}
legend small{color:#999}
img{height:auto;border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
button,input{padding:0;*overflow:visible;line-height:normal}
button,select{cursor:pointer}
button,iframe{border:none}
textarea{overflow:auto;vertical-align:top}
small{margin:0 4px;font-size:85%}
strong{font-weight:bold}
em{font-style:italic}
mark{background:none}
address,cite{font-style:normal}
sub,sup{position:relative;font-size:75%;font-size:90%\9;line-height:0;vertical-align:baseline}
sub{top:-0.5em}
sup{bottom:-0.25em}
a{color:#333;text-decoration:none}
a:hover{color:#000;text-decoration:underline}
/*------reset*/
/*normalize------*/
.container{margin:0 auto;width:940px;*zoom:1}
.wrapper{*zoom:1}
.wrapper:before,.wrapper:after{display:table;line-height:0;content:""}
.wrapper:after{clear:both}
.fr{float:right;*display:inline}
.fl{float:left;*display:inline}
.oh{overflow:hidden}
.cl{clear:left}
.cr{clear:right}
.cb{clear:both}
.tc{text-align:center}
.tl{text-align:left}
.tr{text-align:right}
.fw{font-weight:bolder}
.mt10{margin-top:10px}
.mr10{margin-right:10px}
.mb10{margin-bottom:10px}
.ml10{margin-left:10px}
.mt15{margin-top:15px}
.mr15{margin-right:15px}
.mb15{margin-bottom:15px}
.ml15{margin-left:15px}
.mt20{margin-top:20px}
.mr20{margin-right:20px}
.mb20{margin-bottom:20px}
.ml20{margin-left:20px}
.mt30{margin-top:30px}
.mr30{margin-right:30px}
.mb30{margin-bottom:30px}
.ml30{margin-left:30px}
.mt40{margin-top:40px}
.mr40{margin-right:40px}
.mb40{margin-bottom:40px}
.ml40{margin-left:40px}
.pt10{padding-top:10px}
.pr10{padding-right:10px}
.pb10{padding-bottom:10px}
.pl10{padding-left:10px}
.pt15{padding-top:15px}
.pr15{padding-right:15px}
.pb15{padding-bottom:15px}
.pl15{padding-left:15px}
.pt20{padding-top:20px}
.pr20{padding-right:20px}
.pb20{padding-bottom:20px}
.pl20{padding-left:20px}
.pt30{padding-top:30px}
.pr30{padding-right:30px}
.pb30{padding-bottom:30px}
.pl30{padding-left:30px}
.pt40{padding-top:40px}
.pr40{padding-right:40px}
.pb40{padding-bottom:40px}
.pl40{padding-left:40px}
.fs10{font-size:10px}
.fs12{font-size:12px}
.fs14{font-size:14px}
.fs16{font-size:16px}
.fs18{font-size:18px}
.fs20{font-size:20px}
/*------normalize*/